body{
	margin: 0;
	padding: 0;
}

div{
	width: 200px;
	height: 200px;	
}

.uno{
	background-color: #ED2251;    
}
.dos{
	background-color: #3A81BA;
	position: absolute;
	left: 200px;
}
.tres{
    background-color: #8BAB42;
}
.cuatro{
	background-color: #FFFF00;
}