body{
	margin: 0;
	padding: 0;
}

div{
	width: 200px;
	height: 200px;
	position: absolute;	
}

.uno{
	background-color: #ED2251;
	left: 0px;
	top: 0px;
      
}
.dos{
	background-color: #3A81BA;
	right: 0px;
	top: 0px;
}
.tres{
    background-color: #8BAB42;
    left: 0px;
    bottom: 0px;
}
.cuatro{
	background-color: #FFFF00;
	right: 0px;
	bottom: 0px;

}